@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  /* 適應 & 伸縮 */
  max-width: 100%;
  /* 適應 & 伸縮 */
  height: auto;
  /* 圖片會預留 2-3px 在下面 */
  vertical-align: middle; }

*, *::before, *::after {
  /* 全域 border box > 不用算內距 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', "思源黑體 TW", sans-serif;
  font-size: 20px;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #FFF; }
  a:hover {
    font-style: italic; }

.header {
  text-align: center;
  padding: 30px 88px;
  background-color: #AA0601;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .header {
      padding: 30 39px; } }
  @media (max-width: 767px) {
    .header {
      padding: 10px 0 0 0; } }
  @media (max-width: 767px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 767px) {
    .header .headerLogo {
      margin-bottom: 10px; } }
  .header .headerNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 767px) {
      .header .headerNav {
        width: 100%; } }
    .header .headerNav .item {
      margin-right: 64px; }
      .header .headerNav .item:last-child {
        margin-right: 0; }
      @media (max-width: 992px) {
        .header .headerNav .item {
          margin-right: 40px; } }
      @media (max-width: 767px) {
        .header .headerNav .item {
          width: 50%;
          margin-right: 0;
          border: 1px solid #FFF; } }

.footer {
  background-color: #AA0601;
  color: #FFF; }
  .footer .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px; }
    .footer .container .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-bottom: 1px solid #FFF;
      padding-bottom: 24px;
      margin-bottom: 32px; }
      @media (max-width: 992px) {
        .footer .container .info {
          padding-bottom: 20px;
          margin-bottom: 24px; } }
      @media (max-width: 767px) {
        .footer .container .info {
          padding-bottom: 24px;
          margin-bottom: 16px; } }
      .footer .container .info div .map {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 36px; }
        @media (max-width: 992px) {
          .footer .container .info div .map {
            margin-bottom: 18px; } }
        @media (max-width: 767px) {
          .footer .container .info div .map {
            display: none; } }
        .footer .container .info div .map .item {
          font-size: 16px;
          line-height: 1.5;
          margin-right: 48px; }
          .footer .container .info div .map .item:last-child {
            margin-right: 0; }
          @media (max-width: 992px) {
            .footer .container .info div .map .item {
              margin-right: 40px; } }
      .footer .container .info div .contact li {
        font-size: 36px;
        line-height: 1.5; }
        @media (max-width: 992px) {
          .footer .container .info div .contact li {
            font-size: 20px;
            line-height: 1.5; } }
        @media (max-width: 767px) {
          .footer .container .info div .contact li {
            font-size: 16px;
            line-height: 1.5; } }
        .footer .container .info div .contact li a {
          margin-left: 22px; }
          @media (max-width: 992px) {
            .footer .container .info div .contact li a {
              margin-left: 11px; } }
          @media (max-width: 767px) {
            .footer .container .info div .contact li a {
              margin-left: 4px; } }
      .footer .container .info div .contact .li1 {
        margin-bottom: 16px; }
        @media (max-width: 992px) {
          .footer .container .info div .contact .li1 {
            margin-bottom: 12px; } }
        @media (max-width: 767px) {
          .footer .container .info div .contact .li1 {
            margin-bottom: 4px; } }
      .footer .container .info .social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .footer .container .info .social li {
          margin-right: 32px; }
          .footer .container .info .social li:last-child {
            margin-right: 0; }
          @media (max-width: 992px) {
            .footer .container .info .social li {
              margin-right: 24px; } }
    .footer .container .copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media (max-width: 767px) {
        .footer .container .copyright {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .footer .container .copyright p {
        font-size: 16px;
        line-height: 1.5; }
        @media (max-width: 767px) {
          .footer .container .copyright p {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 8px; } }
      .footer .container .copyright .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        @media (max-width: 767px) {
          .footer .container .copyright .item {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; } }
        .footer .container .copyright .item li {
          font-size: 14px;
          line-height: 1.5;
          margin-right: 48px; }
          .footer .container .copyright .item li:last-child {
            margin-right: 0; }
          @media (max-width: 992px) {
            .footer .container .copyright .item li {
              margin-right: 24px; } }
          @media (max-width: 767px) {
            .footer .container .copyright .item li {
              margin-right: 0;
              margin-bottom: 8px; }
              .footer .container .copyright .item li:last-child {
                margin-bottom: 0; } }

.faq {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding: 96px 15px 160px 15px; }
  .faq .title {
    font-size: 48px;
    line-height: 1.7;
    font-weight: bold;
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 60px; }
    @media (max-width: 767px) {
      .faq .title {
        font-size: 28px;
        line-height: 2.85; } }
  .faq .subTitle {
    font-size: 32px;
    line-height: 1.97;
    font-weight: bold;
    margin-bottom: 36px; }
    @media (max-width: 767px) {
      .faq .subTitle {
        font-size: 20px;
        line-height: 3.15; } }
  .faq ul li {
    margin-bottom: 32px; }
    .faq ul li:last-child {
      margin-bottom: 0; }
    .faq ul li .thirdTitle {
      font-size: 20px;
      line-height: 1.15;
      font-weight: bold;
      margin-bottom: 16px; }
      @media (max-width: 767px) {
        .faq ul li .thirdTitle {
          font-size: 16px;
          line-height: 1.5; } }
    .faq ul li .text {
      font-size: 16px;
      line-height: 1.5;
      padding-left: 100px; }
      @media (max-width: 992px) {
        .faq ul li .text {
          padding-left: 75px; } }
      @media (max-width: 767px) {
        .faq ul li .text {
          font-size: 14px;
          line-height: 1.5;
          padding-left: 0px; } }

.location2 {
  padding: 96px 15px 160px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 992px) {
    .location2 {
      padding-top: 60px;
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .location2 {
      padding-top: 28px;
      padding-bottom: 56px; } }
  .location2 .title {
    font-size: 48px;
    line-height: 1.7;
    font-weight: bold;
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 65px; }
    @media (max-width: 767px) {
      .location2 .title {
        font-size: 28px;
        line-height: 2.85; } }
  .location2 form {
    margin-bottom: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .location2 form {
        margin-bottom: 24px; } }
    .location2 form label {
      font-size: 24px;
      line-height: 1.25;
      margin-right: 22px; }
      @media (max-width: 992px) {
        .location2 form label {
          margin-right: 20px;
          font-size: 16px;
          line-height: 1.875; } }
      @media (max-width: 767px) {
        .location2 form label {
          font-size: 14px;
          line-height: 2.14; } }
    .location2 form select {
      padding: 10px; }
      @media (max-width: 767px) {
        .location2 form select {
          padding: 8px 10px; } }
    .location2 form option {
      font-size: 18px;
      line-height: 1.5; }
      @media (max-width: 992px) {
        .location2 form option {
          font-size: 16px;
          line-height: 1.5; } }
      @media (max-width: 767px) {
        .location2 form option {
          font-size: 14px;
          line-height: 1.714; } }
  .location2 .position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .location2 .position {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 992px) {
      .location2 .position .image_and_text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 767px) {
      .location2 .position .image_and_text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 16px; } }
    .location2 .position .image_and_text .image {
      width: 445px; }
      @media (max-width: 992px) {
        .location2 .position .image_and_text .image {
          width: 330px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 32px;
          margin-right: 30px; } }
      @media (max-width: 767px) {
        .location2 .position .image_and_text .image {
          width: 445px;
          margin-bottom: 0px;
          margin-right: 0px; } }
    @media (max-width: 992px) {
      .location2 .position .image_and_text .text {
        margin-top: 5px; } }
    @media (max-width: 767px) {
      .location2 .position .image_and_text .text {
        margin-top: 0px; } }
    .location2 .position .image_and_text .text .thirdTitle {
      font-size: 24px;
      line-height: 1.5;
      border: 1px solid #00000020;
      padding: 12px 24px; }
    .location2 .position .image_and_text .text ul {
      border: 1px solid #00000020;
      padding: 16px 27px; }
      .location2 .position .image_and_text .text ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px; }
        .location2 .position .image_and_text .text ul li:last-child {
          margin-bottom: 0; }
        .location2 .position .image_and_text .text ul li p {
          font-size: 20px;
          line-height: 1.5;
          margin-left: 8px; }
    .location2 .position .map {
      width: 635px; }

.productSun_head {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .productSun_head .category {
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .productSun_head .category li {
      border-left: 1px solid #DCDCDC;
      border-right: 1px solid #DCDCDC;
      padding-top: 27px;
      padding-bottom: 26px;
      font-size: 32px;
      line-height: 1.5; }
      @media (max-width: 992px) {
        .productSun_head .category li {
          font-size: 24px;
          line-height: 1.3;
          padding-top: 14px;
          padding-bottom: 14px; } }
      @media (max-width: 767px) {
        .productSun_head .category li {
          font-size: 14px;
          line-height: 1;
          padding-top: 6px;
          padding-bottom: 5px; } }
    .productSun_head .category .item1 {
      padding-left: 94px;
      padding-right: 92px; }
      .productSun_head .category .item1 img {
        width: 32px;
        height: 32px;
        margin-right: 22px; }
      @media (max-width: 992px) {
        .productSun_head .category .item1 {
          padding-left: 47px;
          padding-right: 46px; }
          .productSun_head .category .item1 img {
            width: 21px;
            height: 21px;
            margin-right: 17px; } }
      @media (max-width: 767px) {
        .productSun_head .category .item1 {
          padding-left: 20px;
          padding-right: 19px; }
          .productSun_head .category .item1 img {
            width: 10px;
            height: 10px;
            margin-right: 6px; } }
    .productSun_head .category .item2 {
      padding-left: 59px;
      padding-right: 57px;
      border-bottom: 8px solid #AA0601; }
      .productSun_head .category .item2 img {
        width: 44px;
        height: 44px;
        margin-right: 10px; }
      @media (max-width: 992px) {
        .productSun_head .category .item2 {
          padding-left: 21px;
          padding-right: 20px; }
          .productSun_head .category .item2 img {
            width: 29px;
            height: 29px;
            margin-right: 9px; } }
      @media (max-width: 767px) {
        .productSun_head .category .item2 {
          padding-left: 4px;
          padding-right: 5px; }
          .productSun_head .category .item2 img {
            width: 14px;
            height: 14px;
            margin-right: 2px; } }
    .productSun_head .category .item3 {
      padding-left: 74px;
      padding-right: 60px; }
      .productSun_head .category .item3 img {
        width: 20px;
        height: 40px;
        margin-right: 22px; }
      @media (max-width: 992px) {
        .productSun_head .category .item3 {
          padding-left: 31px;
          padding-right: 22px; }
          .productSun_head .category .item3 img {
            width: 32px;
            height: 32px;
            margin-right: 17px; } }
      @media (max-width: 767px) {
        .productSun_head .category .item3 {
          padding-left: 10px;
          padding-right: 7px; }
          .productSun_head .category .item3 img {
            width: 6px;
            height: 13px;
            margin-right: 6px; } }

.bannerImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .bannerImage {
      margin-bottom: 56px; } }
  @media (max-width: 767px) {
    .bannerImage {
      margin-bottom: 32px; } }
  .bannerImage .bannerImage1 {
    width: 960px;
    height: 304px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%; }
  .bannerImage .bannerImage2 {
    width: 960px;
    height: 304px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-2-color.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%; }

.productSun_bottom {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 160px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 992px) {
    .productSun_bottom {
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .productSun_bottom {
      padding-bottom: 0; } }
  .productSun_bottom .title {
    text-align: center;
    font-size: 42px;
    line-height: 1.5;
    font-weight: bold; }
    @media (max-width: 992px) {
      .productSun_bottom .title {
        font-size: 32px;
        line-height: 1.5; } }
    @media (max-width: 767px) {
      .productSun_bottom .title {
        font-size: 20px;
        line-height: 1.5; } }
  .productSun_bottom .subTitle {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .productSun_bottom .subTitle {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .productSun_bottom .subTitle {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px; } }
  .productSun_bottom .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 24px;
    line-height: 1.5; }
    @media (max-width: 767px) {
      .productSun_bottom .product {
        font-size: 16px;
        line-height: 1.5; } }
    .productSun_bottom .product li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 31%; }
      .productSun_bottom .product li:nth-child(1), .productSun_bottom .product li:nth-child(2), .productSun_bottom .product li:nth-child(3) {
        margin-bottom: 104px; }
      .productSun_bottom .product li:nth-child(1), .productSun_bottom .product li:nth-child(2), .productSun_bottom .product li:nth-child(4), .productSun_bottom .product li:nth-child(5) {
        margin-right: 3.5%; }
      @media (max-width: 992px) {
        .productSun_bottom .product li {
          width: 48%; }
          .productSun_bottom .product li:nth-child(1), .productSun_bottom .product li:nth-child(2), .productSun_bottom .product li:nth-child(3), .productSun_bottom .product li:nth-child(4) {
            margin-bottom: 72px; }
          .productSun_bottom .product li:nth-child(1), .productSun_bottom .product li:nth-child(3), .productSun_bottom .product li:nth-child(5) {
            margin-right: 4%; }
          .productSun_bottom .product li:nth-child(2), .productSun_bottom .product li:nth-child(4), .productSun_bottom .product li:nth-child(6) {
            margin-right: 0%; } }
      @media (max-width: 767px) {
        .productSun_bottom .product li {
          margin-right: 0;
          width: 100%; }
          .productSun_bottom .product li:nth-child(1), .productSun_bottom .product li:nth-child(2), .productSun_bottom .product li:nth-child(3), .productSun_bottom .product li:nth-child(4), .productSun_bottom .product li:nth-child(5) {
            margin-bottom: 32px; }
          .productSun_bottom .product li:nth-child(1), .productSun_bottom .product li:nth-child(2), .productSun_bottom .product li:nth-child(3), .productSun_bottom .product li:nth-child(4), .productSun_bottom .product li:nth-child(5), .productSun_bottom .product li:nth-child(6) {
            margin-right: 0%; } }
      .productSun_bottom .product li .productText {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .productSun_bottom .product li .productText .productName {
          font-weight: bold; }
        .productSun_bottom .product li .productText .productPrice {
          font-weight: bold;
          color: #AA0601; }
      .productSun_bottom .product li .productColor {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .productSun_bottom .product li .productColor .productColor1 {
          width: 24px;
          height: 24px;
          background-color: #5F3E2D;
          margin-right: 8px; }
          @media (max-width: 767px) {
            .productSun_bottom .product li .productColor .productColor1 {
              width: 15px;
              height: 16px;
              background-color: #5F3E2D;
              margin-right: 4px; } }
        .productSun_bottom .product li .productColor .productColor2 {
          width: 24px;
          height: 24px;
          background-color: #B75929; }
          @media (max-width: 767px) {
            .productSun_bottom .product li .productColor .productColor2 {
              width: 15px;
              height: 16px;
              background-color: #B75929;
              margin-right: 4px; } }
  .productSun_bottom .page {
    display: none; }
    @media (max-width: 767px) {
      .productSun_bottom .page {
        margin-top: 40px;
        margin-bottom: 56px;
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .productSun_bottom .page li {
          border: 1px solid #555555; }
          .productSun_bottom .page li a {
            display: block;
            color: #555555;
            padding: 12px 15px; }
          .productSun_bottom .page li:nth-child(3) {
            background-color: #000000; }
            .productSun_bottom .page li:nth-child(3) a {
              color: #FFF; }
          .productSun_bottom .page li:nth-child(7) {
            background-color: #F2F2F2; } }

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 992px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 767px; } }

.blogHeader {
  font-size: 20px;
  line-height: 1.2;
  background-color: #650300;
  padding-top: 12px;
  padding-bottom: 12px; }
  @media (max-width: 992px) {
    .blogHeader {
      font-size: 16px;
      line-height: 1.5;
      padding-top: 16px;
      padding-bottom: 16px; } }
  @media (max-width: 767px) {
    .blogHeader {
      display: none; } }
  .blogHeader .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .blogHeader .container ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .blogHeader .container ul li a {
        text-decoration: none;
        color: #FFF; }
        .blogHeader .container ul li a:nth-child(1) {
          padding-right: 24px; }
        .blogHeader .container ul li a:nth-child(2), .blogHeader .container ul li a:nth-child(3) {
          padding-right: 24px;
          padding-left: 24px; }
        .blogHeader .container ul li a:nth-child(4) {
          padding-left: 24px; }
        @media (max-width: 992px) {
          .blogHeader .container ul li a:nth-child(1) {
            padding-right: 16px; }
          .blogHeader .container ul li a:nth-child(2), .blogHeader .container ul li a:nth-child(3) {
            padding-right: 16px;
            padding-left: 16px; }
          .blogHeader .container ul li a:nth-child(4) {
            padding-left: 16px; } }

.blogTitle {
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold; }
  @media (max-width: 992px) {
    .blogTitle {
      border-left: 4px solid #9F1213;
      margin-top: 32px;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .blogTitle {
      padding-left: 8px;
      font-size: 28px;
      line-height: 1.5;
      margin-top: 28px;
      margin-bottom: 28px; } }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .blog .blogList {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 992px) {
      .blog .blogList {
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .blog .blogList {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .blog .blogList {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .blog .blogList img {
      display: block;
      width: 48.5%;
      margin-right: 3%; }
      @media (max-width: 767px) {
        .blog .blogList img {
          width: 100%;
          margin-right: 0%;
          margin-bottom: 8px; } }
    .blog .blogList div {
      width: 48.5%; }
      @media (max-width: 767px) {
        .blog .blogList div {
          width: 100%;
          margin-right: 0%; } }
      .blog .blogList div .subTitle {
        font-size: 32px;
        line-height: 1.5;
        color: #650300;
        font-weight: bold;
        margin-bottom: 2px; }
        @media (max-width: 992px) {
          .blog .blogList div .subTitle {
            font-size: 20px;
            line-height: 1.5; } }
        @media (max-width: 767px) {
          .blog .blogList div .subTitle {
            font-size: 16px;
            line-height: 1.5; } }
      .blog .blogList div .thirdTitle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 1.5;
        font-weight: bold; }
        @media (max-width: 992px) {
          .blog .blogList div .thirdTitle {
            margin-bottom: 32px;
            font-size: 16px;
            line-height: 1.5; } }
        @media (max-width: 767px) {
          .blog .blogList div .thirdTitle {
            margin-bottom: 0px;
            font-size: 14px;
            line-height: 1.5; } }
        .blog .blogList div .thirdTitle span {
          font-size: 16px;
          line-height: 1.5; }
          @media (max-width: 767px) {
            .blog .blogList div .thirdTitle span {
              font-size: 14px;
              line-height: 1.5; } }
      .blog .blogList div .blogText {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 14px; }
        @media (max-width: 992px) {
          .blog .blogList div .blogText {
            margin-bottom: 0; } }
        @media (max-width: 767px) {
          .blog .blogList div .blogText {
            font-size: 14px;
            line-height: 1.5;
            display: none; } }
        .blog .blogList div .blogText .InnerTextMore {
          display: none;
          color: #555555; }
          @media (max-width: 992px) {
            .blog .blogList div .blogText .InnerTextMore {
              display: inline; } }
      .blog .blogList div .more {
        font-size: 36px;
        line-height: 1.5;
        color: #650300;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        @media (max-width: 992px) {
          .blog .blogList div .more {
            display: none; } }

.blogPage {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 36px;
  margin-bottom: 160px;
  font-size: 18px;
  line-height: 1.5; }
  @media (max-width: 992px) {
    .blogPage {
      margin-top: 40px;
      margin-bottom: 96px; } }
  @media (max-width: 767px) {
    .blogPage {
      margin-top: 20px;
      margin-bottom: 56px;
      font-size: 16px;
      line-height: 1.5; } }
  .blogPage li {
    border: 1px solid #555555; }
    .blogPage li:nth-child(3) {
      background-color: #555555; }
      .blogPage li:nth-child(3) a {
        color: #FFF; }
    .blogPage li a {
      display: block;
      color: #555555;
      padding: 9px 12px; }
      .blogPage li a:nth-child(1), .blogPage li a:nth-child(7) {
        padding: 8px 10px; }

/*# sourceMappingURL=all.css.map */
